.link {
  display: none;
}
.nav{
     background-color: #0f57bae5;
     list-style-type: none;
     text-align: center;
     margin: 0;
     padding: 0;
}
.nav li{
       display: inline-block;
        font-size: 15px;
        padding: 15px;
}
.iframe{
    text-align: center;
    height: auto;
    weight: auto;
}
.form{
    text-align: center;
    height: 300px;
    background-color: #1049bed0;  
}
.form input{
    text-align: center;
    height: 14px;
    border: 10px;
    background-color: #ffffff;
}
.form button{
    height: 20px;
    boder: 10px;
}
