.link {
  display: none;
}
.nav{
     background-color: #0096ff96;
     list-style-type: none;
     text-align: center;
     margin: 0;
     padding: 0;
}
.nav li{
       display: inline-block;
        font-size: 15px;
        padding: 15px;
}
.form{
    text-align: center;
    height: 300px;
    border-radius:45px;
    background-color: #1049bed0;  
}
.form input,form button{
    text-align: center;
    height: 34px;
    border-radius: 9px;
    border: none;
    background-color: #ffffff;
}
.body{
    background-color: #00c0ffbb;
}
.post{
    background-color: #1049bed0;
    
}
.post img{
  width: px;
  height: 344px;
}
.button{
            text-align: center;
}
.button li{
        display: inline-block;
        font-size: 15px;
        padding: 10px;   
        margin: 10px;
        border-radius: 10px;
        background: #00ffeada;  
}
